### Q1. What is a database? Differentiate between SQL and NoSQL databases.
    A database is a collection of organized data that is stored and accessed electronically. It is used to store and manage data efficiently so that it can be easily accessed, modified, and updated as per the requirements.
    
    Data model: SQL databases use a relational data model, while NoSQL databases use various data models, such as key-value pairs, documents, graphs, or column-family models.
    
    Query language: SQL databases use SQL language to interact with the data, while NoSQL databases use different query languages use different query languages, such as MongoDB's query lanuguage, Cassandra Query Language(CQL), or Couchbase Query Language(N1QL).
    
    Scalability: SQL databases are vertically scalable, which means they can handle increased load by upgrading the hardware, while NoSQL databases are horizontally scalable, which means they can handle increased load by adding more servers or nodes ot the cluster.
    
    Data consistency: SQL databases prioritize consistency over availability, while NoSQL databases prioritize availability over consistency.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
    DDL stands for Data Definition Language. It is a set of SQL commands used to define the database schema and to manipulate the structure of the database.
    
    CREATE: This command is used to create a new database or to create new objects such as tables, views, procedures, and functions. For example, to create a table named "employees" in a database, the following command can be used:
    
    CREATE TABLE employees (
        id INT PRIMARY KEY,
        name VARCHAR(50),
        age INT
    );
    
    DROP: This command is used to delete an existing database or an object within a database. For example, to delete the table "employees" created in the above example, the following command can be used:
    
    DROP TABLE employees;
    
    ALTER: This command is used to modify the structure of an existing object within a database. For example, to add a new column "salary" to the "employees" table created earlier, the following command can be used:
    
    ALTER TABLE employees ADD COLUMN salary INT;
    
    TRUNCATE: This command is used to remove all the data from an existing table without deleting the table structure. For example, to remove all the data from the "employees" table, the following command can be used:
    TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
    DML stands for Data Manipulation Language, which is a subset of SQL that is used to manipulate data in a database. DML statements are used to insert, update, and delete records from a database table.
    
    INSERT: The INSERT statement is used to add new records to a table
    example - 
    
    INSERT INTO customers (name, email, phone) VALUES ('Alok Ranjan', 'alok@example.com', '323434');
    
    UPDATE: The UPDATE statement is used to modify existing records in a table.
    example-
    UPDATE customers SET email = 'newemail@example.com' WHERE name = 'Alok Ranjan';
    
    DELETE: The DELETE statement is used to remove records from a table.
    example:
    DELETE FROM customers WHERE name = 'Alok Ranjan';

### Q4. What is DQL? Explain SELECT with an example.
    DQL stands for Data Query Language, and it is used to retrive data from the database. The most common DQL command is SELECT, which allows us to retrieve data from one or more tables in the database.The SELECT statement has several components, including the SELECT clause, the FROM clause, and the WHERE clause.
    example-
    SELECT * FROM employees

### Q5. Explain Primary Key and Foreign Key.
    A Primary Key is a unique identifier for a record in a table. It is used to identify each row in the table uniquely, and it must have a unique value for each record. The primary key can be a single column or a combination of columns.
    
    A foreign key is a column in a table that is used to link to the primary key of another table. It is used to enforce referential integrity, which means that the data in the table must be consistent with the data in related tables. A foreign key can be a single columns, and it must have the same data type as the primary key that it references.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password",
    database = "databasename"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

results = mycursor.fetchall()

for row in results:
    print(row)

    cursor(): cursor() method return cursor object which is used to execute SQL queries and fetch results.
    execute(): execute() mehod is used to execute SQL query. It takes the SQL query as a parameter.

### Q7. Give the order of execution of SQL clauses in an SQL query.
    The order of execution of SQL clauses in an SQL query is as follows:
    
    1. FROM
    2. WHERE
    3. GROUP BY
    4. HAVING
    5. SELECT
    6. DISTINCT
    7. ORDER BY
    8. LIMIT/OFFSET